{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "IVA System Integration API",
    "description" : "# Introduction\nIVA System Integration REST API is intended for 3-rd party server to server integration.\n\nClients API is described [here](/doc/api/rest.html).\n\nChat bot API is described [here](/doc/api/bot.html).\n\n# Authentication\nMost requests to the system require authorization to perform a certain action. Such requests in the API description are marked with the - `AUTHORIZATIONS` marker.\n\n<SecurityDefinitions />\n\nAuthentication is performed using [bearer HTTP authentication scheme](https://tools.ietf.org/html/rfc6750),\nthereby all HTTP requests which are required authentication must include an access token which must be sent in the `Authorization` HTTP request header:\n\n    Authorization: Bearer <token>\n\n`<token>` should be presented in form of [JWT](https://datatracker.ietf.org/doc/html/rfc7519) with following structure:\n\nHeader:\n\n    {\n        \"alg\": \"HS256\",\n        \"typ\": \"JWT\"\n    }\n\nPayload:\n\n    {\n        \"sub\": <appId>,\n        \"iat\": <timestamp>\n    }\nWhere `<timestamp>` is the time of the `<token>` creation in seconds. That value should be in range:<br/>\n`server time` - 30 sec ≤ `<timestamp>` ≤ `server time`\n\nThe server timestamp in milis is available with [system info](/doc/api/rest.html#operation/getSystemInfo).\n\nSignature:\n\n    HMACSHA256(\n        base64UrlEncode(header) + \".\" +\n        base64UrlEncode(payload),\n        <appSecret>\n    )\n\nFinally, JWT concatenates parts described above as:\n\n    base64UrlEncode(header).base64UrlEncode(payload).base64UrlEncode(signature)\n\n# Get application ID and secret\nTo get integration application authentication access parameters (`<appId>` and `<appSecret>`) contact IVA system administrator which\nshould create an account for the integration application and send back the access parameters.\n",
    "version" : "1.28.12"
  },
  "servers" : [ {
    "url" : "https://beta.hi-tech.org/api/rest/integration",
    "description" : "The stage API server"
  } ],
  "tags" : [ {
    "name" : "Requests",
    "description" : "## Method usage\n<table>\n  <tr><th>Method</th><th>Usage</th></tr>\n  <tr><td rowspan=4>POST</td><td>To create the resource</td></tr>\n  <tr><td>To complitely update the resource</td></tr>\n  <tr><td>To start the process</td></tr>\n  <tr><td>To remove from the collection all of elements with identifiers from the specified collection</td></tr>\n  <tr><td>GET</td><td>To get the resource</td></tr>\n  <tr><td>PATCH</td><td>To partialy update the resource</td></tr>\n  <tr><td>DELETE</td><td>To delete the resource by identifier</td></tr>\n</table>\n\n## Parameter passing\nFor all requests, identifiers are passed in the path, except sending a collection of them. In this case, identifiers can be sent as comma-separated query parameter for GET-method, or in the request body for POST-method.\n\nQuery parameters are sent only with a GET-method. In this case special symbols such as _ ,+, \\, #, &, %, \" must be encoded:\n<table>\n  <tr><th>Symbol</th><th>Encoding</th></tr>\n  <tr><td>Space</td><td>%20</td></tr>\n  <tr><td>!</td><td>%21</td></tr>\n  <tr><td>\"</td><td>%22</td></tr>\n  <tr><td>#</td><td>%23</td></tr>\n  <tr><td>$</td><td>%24</td></tr>\n  <tr><td>%</td><td>%25</td></tr>\n  <tr><td>&</td><td>%26</td></tr>\n  <tr><td>'</td><td>%27</td></tr>\n  <tr><td>(</td><td>%28</td></tr>\n  <tr><td>)</td><td>%29</td></tr>\n  <tr><td>*</td><td>%2A</td></tr>\n  <tr><td>+</td><td>%2B</td></tr>\n  <tr><td>,</td><td>%2C</td></tr>\n  <tr><td>-</td><td>%2D</td></tr>\n  <tr><td>.</td><td>%2E</td></tr>\n  <tr><td>/</td><td>%2F</td></tr>\n</table>\n\nArray query parameters are serialized by default using style: form and explode: true, resulting in repeated parameter names like /users?id=3&id=4&id=5.\n\n## Header flags\nThe system can accept several predefined flags that can be useful in some cases.\nThe flags should be passed as header parameters for specified requests.\n<table>\n    <tr><th>Flag</th><th>Type</th><th>Description</th></tr>\n    <tr><td>Mute-Emails</td><td>boolean</td><td>Mutes emails that can be generated in bussiness cases by given request (for instance, mute emails during creating conference)</td></tr>\n</table>\n"
  }, {
    "name" : "Responses",
    "description" : "## HTTP status codes\nStandard HTTP response codes are used to identify the success of the request.\n<table>\n    <tr><th>HTTP response code</th><th>Description</th></tr>\n    <tr><td>200 - Ok</td><td>The request was successful and the data was returned in the response</td></tr>\n    <tr><td>204 - No content</td><td>The request was successful and there is no data in the response</td></tr>\n    <tr><td>400 - Bad Request</td><td>Some request parameters were passed incorrectly</td></tr>\n    <tr><td>401 - Unauthorized</td><td>Authentication data is missing or incorrect</td></tr>\n    <tr><td>403 - Forbidden</td><td>The request with the current authentication data is not allowed</td></tr>\n    <tr><td>404 - Not Found</td><td>The requested resource was not found</td></tr>\n    <tr><td>415 - Unsupported Media Type</td><td>The request was send with invalid Content-Type header</td></tr>\n    <tr><td>500 - Server Error</td><td>Unexpected server-side error</td></tr>\n</table>\n\n## Handling exception\nIf the response code differs from `200 - Ok` and `204 - No Content`, additional error information is passed in the response body:\n<SchemaDefinition schemaRef=\"#/components/schemas/ERROR\" exampleRef=\"#/components/examples/ERROR\"/>\n"
  } ],
  "paths" : {
    "/companies/{companyId}/block" : {
      "post" : {
        "tags" : [ "Companies" ],
        "summary" : "Block company",
        "description" : "Blocks company and all its users.",
        "operationId" : "blockCompany",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "Company ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "description" : "Empty body",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmptyBodyRestDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/companies" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Get companies",
        "description" : "Returns companies slice for specified domain",
        "operationId" : "getCompanies",
        "parameters" : [ {
          "name" : "domainId",
          "in" : "query",
          "description" : "Domain ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Companies info slice",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompaniesSliceIntegrationDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Companies" ],
        "summary" : "Create company",
        "description" : "Creates company with specified parameters. Owner should not be in another company and should has type USER.",
        "operationId" : "createCompany",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompanyCreateRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Company data",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyIntegrationDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/companies/{companyId}/paid-calls-balance" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Get company paid calls balance",
        "description" : "Returns paid calls balance for company.",
        "operationId" : "getCompanyPaidCallsBalance",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "Company ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Available balance of minutes for paid calls",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaidCallBalanceIntegrationDto"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "description" : "reason = INSUFFICIENT_RIGHTS, type = IvcsAccessControlException - if no USER_READ privilege or app does not have access to that company",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          },
          "404" : {
            "description" : "Paid calls balance is not set",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Companies" ],
        "summary" : "Delete company paid calls balance",
        "description" : "Deletes paid calls balance for company",
        "operationId" : "deleteCompanyPaidCallsBalance",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "Company ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "403" : {
            "description" : "reason = INSUFFICIENT_RIGHTS, type = IvcsAccessControlException - if no USERS_WRITE privilege or app does not have access to that company",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Companies" ],
        "summary" : "Edit company paid calls balance",
        "description" : "Edits paid calls balance for company",
        "operationId" : "editCompanyPaidCallsBalance",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "Company ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BalancePatchRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "403" : {
            "description" : "reason = INSUFFICIENT_RIGHTS, type = IvcsAccessControlException - if no USERS_WRITE privilege or app does not have access to that company",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/companies/{companyId}" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Get company info",
        "description" : "Returns company info",
        "operationId" : "getCompany",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "Company ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Company info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyIntegrationDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Companies" ],
        "summary" : "Update company",
        "description" : "Updates company by specified parameters. New owner should be in this company.",
        "operationId" : "updateCompany",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "Company ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompanyPatchRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Company data",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyIntegrationDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/companies/{companyId}/disk-utilization" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Get company disk utilization information",
        "description" : "Returns company disk utilization information.",
        "operationId" : "getCompanyDiskUtilizationInfo",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "Company ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Disk Utilization Info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DiskUtilizationInfoIntegrationDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/companies/{companyId}/paid-calls-balance/history" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Get company paid calls balance history",
        "description" : "Returns history of changes in paid calls balance for company.",
        "operationId" : "getCompanyPaidCallsBalanceHistory",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "Company ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "dateFrom",
          "in" : "query",
          "description" : "Date from (UNIX time in ms)",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "Date (UNIX time in ms)",
            "format" : "int64"
          }
        }, {
          "name" : "dateTo",
          "in" : "query",
          "description" : "Date to (UNIX time in ms)",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "Date (UNIX time in ms)",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Company paid calls balance history",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaidCallsBalanceChangeItemSliceIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "description" : "reason = INSUFFICIENT_RIGHTS, type = IvcsAccessControlException - if no USER_READ privilege or app does not have access to that company",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          },
          "404" : {
            "description" : "Paid calls balance is not set",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/companies/{companyId}/unblock" : {
      "post" : {
        "tags" : [ "Companies" ],
        "summary" : "Unblock company",
        "description" : "Unblocks company and all its users.",
        "operationId" : "unblockCompany",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "Company ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conferences" : {
      "post" : {
        "tags" : [ "Conference" ],
        "summary" : "Create conference",
        "description" : "Creates conference planned in specified time. <br/><br/>It is required to have `Conference-Write` privilege.",
        "operationId" : "createConference",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConferenceCreateRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "First conference session",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConferenceCreateResultIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "reason = CONFERENCE_TEMPLATE_REMOVED, type = ConferenceCreateException - if conference template was removed.<br/>reason = NO_AVAILABLE_CONFERENCE_SESSIONS_FOR_SCHEDULE, type = ConferenceCreateException - if no one conference session can be created at the specified schedule.<br/>reason = NO_SUBSCRIPTION_FOUND, type = ConferenceCreateException - if subscription was not found.<br/>reason = MAX_EVENT_PARTICIPANTS_EXCEEDED, type = ConferenceCreateException - if maximum number of participants in conference is exceeded.<br/>reason = NO_AVAILABLE_CONFERENCE_NUMBERS, type = ConferenceCreateException - if couldn't reserve conference number.<br/>reason = FS_LIMIT_RESTRICTION, type = IvcsAccessControlException - if user doesn't have enough free space."
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conferences/{conferenceId}" : {
      "delete" : {
        "tags" : [ "Conference" ],
        "summary" : "Delete periodical conference",
        "description" : "Deletes periodical conference with all child sessions by ID.<br/><br/>It is required to have `Conference-Write` privilege.",
        "operationId" : "deletePeriodicalConference",
        "parameters" : [ {
          "name" : "conferenceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "reason = DELETED, type = ConferenceEditException - if conference has already been deleted"
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Conference" ],
        "summary" : "Update periodical conference",
        "description" : "Updates specified parameters of periodical conference.<br/><br/>It is required to have `Conference-Write` privilege.",
        "operationId" : "updatePeriodicalConference",
        "parameters" : [ {
          "name" : "conferenceId",
          "in" : "path",
          "description" : "Conference ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "description" : "Set of parameters to be updated for specified conference session. Absence of particular parameter means that this property is not updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConferenceUpdateRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "reason = NO_AVAILABLE_CONFERENCE_NUMBERS, type = ConferenceEditException - if couldn't reserve conference number.<br/>reason = NO_AVAILABLE_CONFERENCE_SESSIONS_FOR_SCHEDULE, type = ConferenceEditException - if no one conference session can be created at the specified schedule.<br/>reason = MAX_EVENT_DURATION_EXCEEDED, type = ConferenceEditException - if duration parameter is greater than event duration limit.<br/>reason = MAX_EVENT_PARTICIPANTS_EXCEEDED, type = ConferenceEditException - if maximum number of participants in conference is exceeded.reason = DELETED, type = ConferenceEditException - if conference session was deleted.<br/>reason = NAME_ALREADY_EXISTS, type = FSNodeWithNameAlreadyExists - if file name already exists.<br/>reason = DOCUMENT_IS_BEING_DEMONSTRATED, type = StorageException - if document is being demonstrated.<br/>reason = FS_LIMIT_RESTRICTION, type = IvcsAccessControlException - if user doesn't have enough free space."
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conferences/{conferenceId}/participants/add" : {
      "post" : {
        "tags" : [ "Conference" ],
        "summary" : "Add conference participants",
        "description" : "Adds participants to the periodical conference. <br/><br/>It is required to have `Conference-Write` privilege.",
        "operationId" : "addConferenceParticipants",
        "parameters" : [ {
          "name" : "conferenceId",
          "in" : "path",
          "description" : "Conference ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConferenceParticipantsAddRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          },
          "500" : {
            "$ref" : "#/components/responses/500"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conferences/{conferenceId}/participants" : {
      "get" : {
        "tags" : [ "Conference" ],
        "summary" : "Find conference participants",
        "description" : "Find periodical conference participants by parameters. <br/><br/>It is required to have `Conference-Read` privilege.",
        "operationId" : "findConferenceParticipants",
        "parameters" : [ {
          "name" : "conferenceId",
          "in" : "path",
          "description" : "Conference ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "searchCriteria",
          "in" : "query",
          "description" : "Search criteria (by profile name)",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "requestedData",
          "in" : "query",
          "description" : "Additional participant's requested data",
          "style" : "form",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/IntegrationConferenceParticipantDataType"
            }
          }
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Participant sort field",
          "schema" : {
            "$ref" : "#/components/schemas/ParticipantSortField"
          }
        }, {
          "name" : "orderAsc",
          "in" : "query",
          "description" : "Result set sort order",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 50
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SliceConferenceParticipantsIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          },
          "500" : {
            "$ref" : "#/components/responses/500"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conferences/{conferenceId}/participants/remove" : {
      "post" : {
        "tags" : [ "Conference" ],
        "summary" : "Remove conference participants",
        "description" : "Removes participants from the periodical conference with such ids. <br/><br/>It is required to have `Conference-Write` privilege.",
        "operationId" : "removeConferenceParticipants",
        "parameters" : [ {
          "name" : "conferenceId",
          "in" : "path",
          "description" : "Conference ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConferenceParticipantsRemoveRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          },
          "500" : {
            "$ref" : "#/components/responses/500"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conference-sessions/create-room" : {
      "post" : {
        "tags" : [ "Conference session" ],
        "summary" : "Create room",
        "description" : "Creates virtual conference room (room is a conference session without start and end). <br/><br/>It is required to have `Conference-Write` privilege.",
        "operationId" : "createRoom",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RoomCreateRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Created room",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoomCreateResultIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "reason = CONFERENCE_TEMPLATE_REMOVED, type = ConferenceCreateException - if conference template was removed.<br/>reason = NO_SUBSCRIPTION_FOUND, type = ConferenceCreateException - if subscription was not found.<br/>reason = NO_AVAILABLE_CONFERENCE_NUMBERS, type = ConferenceCreateException - if couldn't reserve conference number.<br/>reason = FS_LIMIT_RESTRICTION, type = IvcsAccessControlException - if user doesn't have enough free space."
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conference-sessions/{conferenceSessionId}" : {
      "delete" : {
        "tags" : [ "Conference session" ],
        "summary" : "Delete conference session",
        "description" : "Removes conference session by Id. If its conference is periodical then rest sessions of conference are not changed.<br<br/>It is required to have `Conference-Write` privilege.",
        "operationId" : "deleteSessionWithId",
        "parameters" : [ {
          "name" : "conferenceSessionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "reason = DELETED, type = ConferenceEditException - if conference has been already deleted<br/>reason = CAN_NOT_DELETE_SESSION_WITH_RECORD, type = ConferenceEditException - if conference has records which are not allowed to be deleted"
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Conference session" ],
        "summary" : "Update conference session",
        "description" : "Updates specified parameters of conference session.<br/><br/>It is required to have `Conference-Write` privilege.",
        "operationId" : "updateConferenceSession",
        "parameters" : [ {
          "name" : "conferenceSessionId",
          "in" : "path",
          "description" : "Conference session ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "description" : "Set of parameters to be updated for specified conference session. Absence of particular parameter means that this property is not updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConferenceSessionUpdateRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "reason = NO_AVAILABLE_CONFERENCE_NUMBERS, type = ConferenceEditException - if couldn't reserve conference number.<br/>reason = MAX_EVENT_DURATION_EXCEEDED, type = ConferenceEditException - if duration parameter is greater than event duration limit.<br/>reason = MAX_EVENT_PARTICIPANTS_EXCEEDED, type = ConferenceEditException - if maximum number of participants in conference is exceeded.<br/>reason = DELETED, type = ConferenceEditException - if conference session was deleted.<br/>reason = NAME_ALREADY_EXISTS, type = FSNodeWithNameAlreadyExists - if file name already exists.<br/>reason = DOCUMENT_IS_BEING_DEMONSTRATED, type = StorageException - if document is being demonstrated.<br/>reason = FS_LIMIT_RESTRICTION, type = IvcsAccessControlException - if user doesn't have enough free space."
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conference-sessions/{conferenceSessionId}/documents" : {
      "get" : {
        "tags" : [ "Conference session" ],
        "summary" : "Find conference session documents",
        "description" : "Find conference session documents by parameters.<br/>It is required to have 'Conference-Read' privilege.",
        "operationId" : "findConferenceSessionDocuments",
        "parameters" : [ {
          "name" : "conferenceSessionId",
          "in" : "path",
          "description" : "Conference session id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "searchCriteria",
          "in" : "query",
          "description" : "Search criteria (by file name)",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "orderAsc",
          "in" : "query",
          "description" : "Result set sort order",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Sort result set by field",
          "schema" : {
            "$ref" : "#/components/schemas/DocumentSortField"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The offset for slice request. Not negative integer value",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : " The count of entries for slice request. Positive integer value",
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 20
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Found conference session documents",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentsSliceIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "500" : {
            "$ref" : "#/components/responses/500"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conference-sessions" : {
      "get" : {
        "tags" : [ "Conference session" ],
        "summary" : "Find conference sessions",
        "description" : "Find conference session with current user by parameters.</br>It is required to have 'Users-Read' and 'Conference-Read' privilege.",
        "operationId" : "findConferenceSessions",
        "parameters" : [ {
          "name" : "profileId",
          "in" : "query",
          "description" : "Target profile id}",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "nameContains",
          "in" : "query",
          "description" : "Conference name contains",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dateFrom",
          "in" : "query",
          "description" : "Filter by startDate FROM specified date depending on ordering. For [orderAsc = true] fromDate should be less than toDate, otherwise - fromDate should be more than toDate",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "Date (UNIX time in ms)",
            "format" : "int64"
          }
        }, {
          "name" : "dateTo",
          "in" : "query",
          "description" : "Filter by startDate TO specified date depending on ordering. For [orderAsc = true] toDate should be more than fromDate, otherwise - toDate should be less than fromDate",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "Date (UNIX time in ms)",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "orderAsc",
          "in" : "query",
          "description" : "Result set sort order",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "conferenceId",
          "in" : "query",
          "description" : "Search by conference id",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Found conference sessions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConferenceSessionsIntegrationSliceRestDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "500" : {
            "$ref" : "#/components/responses/500"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conference-sessions/{conferenceSessionId}/join-data" : {
      "get" : {
        "tags" : [ "Conference session" ],
        "summary" : "Get conference sessions join data",
        "description" : "Returns conference session join data (links to connect, some connection info, etc.) depending on current participant rights and conference session sharing settings",
        "operationId" : "getJoinData",
        "parameters" : [ {
          "name" : "conferenceSessionId",
          "in" : "path",
          "description" : "Conference session ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Conference session join data",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConferenceSessionJoinDataIntegrationDTO"
                }
              }
            }
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conference-sessions/start-now" : {
      "post" : {
        "tags" : [ "Conference session" ],
        "summary" : "Quick start conference",
        "description" : "Starts new conference session. <br/><br/>It is required to have `Conference-Write` privilege.",
        "operationId" : "startConferenceNow",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConferenceStartNowRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Created conference session",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StartNowConferenceResultIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "reason = CONFERENCE_TEMPLATE_REMOVED, type = ConferenceCreateException - if conference template was removed.<br/>reason = NO_SUBSCRIPTION_FOUND, type = ConferenceCreateException - if subscription was not found.<br/>reason = NO_AVAILABLE_CONFERENCE_NUMBERS, type = ConferenceCreateException - if couldn't reserve conference number..<br/>reason = FS_LIMIT_RESTRICTION, type = IvcsAccessControlException - if user doesn't have enough free space."
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conference-sessions/{conferenceSessionId}/participants/add" : {
      "post" : {
        "tags" : [ "Conference session" ],
        "summary" : "Add participants",
        "description" : "Adds participants to the conference session. <br/><br/>It is required to have `Conference-Write` privilege.",
        "operationId" : "addConferenceSessionParticipants",
        "parameters" : [ {
          "name" : "conferenceSessionId",
          "in" : "path",
          "description" : "Conference session ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConferenceSessionParticipantsAddRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          },
          "500" : {
            "$ref" : "#/components/responses/500"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conference-sessions/{conferenceSessionId}/participants" : {
      "get" : {
        "tags" : [ "Conference session" ],
        "summary" : "Find participants",
        "description" : "Find conference session participants by parameters. <br/><br/>When `requestedData` is empty or not provided, only basic participant information is returned. Additional data types (CALL_REQUEST, JOIN_LINK, CONNECTION_STATUS, USER_DATA) can be requested as needed. Note: PARTICIPANT_DATA is NOT available in this legacy method.<br/><br/>It is required to have `Conference-Read` privilege.",
        "operationId" : "findConferenceSessionParticipants",
        "parameters" : [ {
          "name" : "conferenceSessionId",
          "in" : "path",
          "description" : "Conference session ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "searchCriteria",
          "in" : "query",
          "description" : "Search criteria (by profile name, email and phone)",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "participantFilterType",
          "in" : "query",
          "description" : "Participant filter type",
          "schema" : {
            "$ref" : "#/components/schemas/ParticipantFilterIntegrationType"
          }
        }, {
          "name" : "requestedData",
          "in" : "query",
          "description" : "Additional participant's requested data. Available values: CALL_REQUEST, JOIN_LINK, CONNECTION_STATUS, USER_DATA. Note: PARTICIPANT_DATA is not available for this method. This parameter only accepts legacy data types for backward compatibility.",
          "style" : "form",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "description" : "Additional participant's requested data. PARTICIPANT_DATA is not available for this method.",
              "example" : "CALL_REQUEST",
              "enum" : [ "CALL_REQUEST", "JOIN_LINK", "CONNECTION_STATUS", "USER_DATA" ]
            }
          }
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Participant sort field",
          "style" : "form",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ParticipantSortField"
            }
          }
        }, {
          "name" : "orderAsc",
          "in" : "query",
          "description" : "Result set sort order",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 50
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SliceConferenceSessionParticipantsWithRequiredDataIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          },
          "500" : {
            "$ref" : "#/components/responses/500"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conference-sessions/{conferenceSessionId}/participants/find-by-profile" : {
      "post" : {
        "tags" : [ "Conference session" ],
        "summary" : "Find participants by profile IDs",
        "description" : "Searches conference session participants by specified profile IDs. <br/><br/>Profile IDs are passed in request body as JSON array. When requestedData is empty or null, returns minimal data with only profileId and participantId for optimal performance. When PARTICIPANT_DATA is requested, returns full participant information (name, role, invited status, etc.). Additional data types (CALL_REQUEST, JOIN_LINK, CONNECTION_STATUS, USER_DATA) can be requested along with PARTICIPANT_DATA.<br/><br/>It is required to have `Conference-Read` privilege.",
        "operationId" : "findConferenceSessionParticipantsByProfileIds",
        "parameters" : [ {
          "name" : "conferenceSessionId",
          "in" : "path",
          "description" : "Conference session ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "requestedData",
          "in" : "query",
          "description" : "Requested data types. PARTICIPANT_DATA - returns full participant information (name, role, invited status, etc.). CALL_REQUEST - includes call request information. JOIN_LINK - includes join link for the participant. CONNECTION_STATUS - includes connection status. USER_DATA - includes extended user information. If empty or null, returns only profileId and participantId for optimal performance.",
          "style" : "form",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/IntegrationParticipantDataType"
            }
          }
        } ],
        "requestBody" : {
          "description" : "List of profile IDs to search for",
          "content" : {
            "application/json" : {
              "schema" : {
                "minItems" : 1,
                "type" : "array",
                "items" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SliceConferenceSessionParticipantsIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          },
          "500" : {
            "$ref" : "#/components/responses/500"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conference-sessions/{conferenceSessionId}/participants/remove" : {
      "post" : {
        "tags" : [ "Conference session" ],
        "summary" : "Remove participants",
        "description" : "Removes participants from the conference session with such ids. <br/><br/>It is required to have `Conference-Write` privilege.",
        "operationId" : "removeConferenceSessionParticipants",
        "parameters" : [ {
          "name" : "conferenceSessionId",
          "in" : "path",
          "description" : "Conference session ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConferenceSessionParticipantsRemoveRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          },
          "500" : {
            "$ref" : "#/components/responses/500"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/conference-templates" : {
      "get" : {
        "tags" : [ "Conference" ],
        "summary" : "List conference templates",
        "description" : "Lists conference templates which are available for the domain. <br/><br/>It is required to have `Conference-Read` privilege.",
        "operationId" : "getConferenceTemplates",
        "parameters" : [ {
          "name" : "domainId",
          "in" : "query",
          "description" : "Domain Id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Conference templates",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SliceConferenceTemplatesIntegrationDTO"
                }
              }
            }
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/disk" : {
      "get" : {
        "tags" : [ "Documents" ],
        "summary" : "Get disk files",
        "description" : "Returns list of files filtered by file owner/company and sorted by size",
        "operationId" : "getDiskFiles",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company ID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "profileId",
          "in" : "query",
          "description" : "Profile ID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "searchCriteria",
          "in" : "query",
          "description" : "Search criteria (by file name)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "orderAsc",
          "in" : "query",
          "description" : "Result set sort order",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset in result set",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result set",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 50
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Disk file slice",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DiskFileSliceIntegrationDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/documents/{documentId}" : {
      "delete" : {
        "tags" : [ "Documents" ],
        "summary" : "Delete document",
        "description" : "Deletes document by ID",
        "operationId" : "deleteDocument",
        "parameters" : [ {
          "name" : "documentId",
          "in" : "path",
          "description" : "Document ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "description" : "reason = INSUFFICIENT_RIGHTS, type = IvcsAccessControlException - if no permission for delete file(USER_WRITE or CONFERENCE_WRITE or resource not owned by domain)"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/documents/remove" : {
      "post" : {
        "tags" : [ "Documents" ],
        "summary" : "Delete documents",
        "description" : "Delete array of documents",
        "operationId" : "deleteDocuments",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/DocumentsDeleteRequestIntegrationDTO"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "description" : "reason = INSUFFICIENT_RIGHTS, type = IvcsAccessControlException - if no permission for delete file(USER_WRITE or CONFERENCE_WRITE or resource not owned by domain)"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/domains/{domainId}" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get domain info",
        "description" : "Returns data of specified domain.",
        "operationId" : "getDomain",
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Domain information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainIntegrationDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/domains" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get domains info",
        "description" : "Returns domains slice.",
        "operationId" : "getDomains",
        "parameters" : [ {
          "name" : "sortField",
          "in" : "query",
          "description" : "Sort result set by field",
          "schema" : {
            "$ref" : "#/components/schemas/DomainSortField"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 50
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns domains slice",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainSliceIntegrationDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/groups/{groupId}/users/add" : {
      "post" : {
        "tags" : [ "Groups" ],
        "summary" : "Add users",
        "description" : "Adds users into given group",
        "operationId" : "addUsersToGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "Group Id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddUsersToGroupRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/groups" : {
      "get" : {
        "tags" : [ "Groups" ],
        "summary" : "Get top level groups",
        "description" : "Returns top level group slice for specified domain",
        "operationId" : "getTopLevelGroups",
        "parameters" : [ {
          "name" : "domainId",
          "in" : "query",
          "description" : "Domain Id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Groups info slice",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupSliceIntegrationDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Groups" ],
        "summary" : "Create group",
        "description" : "Creates user group with provided parameters </br></br>If provided data contains companyId - company group will be created, otherwise domainId should be provided to create domain group",
        "operationId" : "createGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupCreateRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Group info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "reason = GROUP_WITH_SUCH_NAME_EXISTS, type = UserGroupException - if group with such name already exists"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/groups/{groupId}" : {
      "get" : {
        "tags" : [ "Groups" ],
        "summary" : "Get group",
        "description" : "Returns group info",
        "operationId" : "getGroupInfo",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "Participant sort field",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Group info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupIntegrationDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Groups" ],
        "summary" : "Delete group",
        "description" : "Removes user group with provided group Id",
        "operationId" : "deleteGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "Group Id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Groups" ],
        "summary" : "Update group",
        "description" : "Updates specified parameters of user group",
        "operationId" : "updateGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "Group Id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupPatchIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "reason = GROUP_WITH_SUCH_NAME_EXISTS, type = UserGroupException - if group with such name already exists"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/groups/{parentGroupId}/subgroups" : {
      "get" : {
        "tags" : [ "Groups" ],
        "summary" : "Get subgroups",
        "description" : "Returns subgroups slice for specified group",
        "operationId" : "getSubgroups",
        "parameters" : [ {
          "name" : "parentGroupId",
          "in" : "path",
          "description" : "Parent group Id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Groups info slice",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupSliceIntegrationDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/groups/{groupId}/users/remove" : {
      "post" : {
        "tags" : [ "Groups" ],
        "summary" : "Remove users",
        "description" : "Removes users from given group",
        "operationId" : "removeUsersFromGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "Group Id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RemoveUsersFromGroupRequestIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/chats/{chatId}/participants/add" : {
      "post" : {
        "tags" : [ "Chat" ],
        "summary" : "Add participants",
        "description" : "Adds users to chat. <br/><br/>It is required to have `Chat-Write` privilege.",
        "operationId" : "addUsersToChat",
        "parameters" : [ {
          "name" : "chatId",
          "in" : "path",
          "description" : "Chat room ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "x-majorVersion" : "1.24.0",
            "x-required" : "true"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "minItems" : 0,
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "anyOf" : [ {
                    "$ref" : "#/components/schemas/ArbitraryInterlocutorDTO"
                  }, {
                    "$ref" : "#/components/schemas/ProfileInterlocutorDTO"
                  } ]
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/chats/create-group-chat" : {
      "post" : {
        "tags" : [ "Chat" ],
        "summary" : "Create group chat",
        "description" : "Creates group chat with specified users. <br/><br/>It is required to have `Chat-Write` privilege.",
        "operationId" : "createGroupChat",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateGroupChatRoomIntegrationDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Chat room",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatRoomIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/chats/{chatId}" : {
      "get" : {
        "tags" : [ "Chat" ],
        "summary" : "Get chat information",
        "description" : "Returns existed chat information. <br/><br/>It is required to have `Chat-Read` privilege.",
        "operationId" : "getChatInfo",
        "parameters" : [ {
          "name" : "chatId",
          "in" : "path",
          "description" : "ID of chat",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "x-majorVersion" : "1.24.0",
            "x-required" : "true"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Chat room",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatRoomIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "404" : {
            "description" : "Chat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Chat" ],
        "summary" : "Remove chat",
        "description" : "Remove chat. <br/><br/>It is required to have `Chat-Write` privilege.",
        "operationId" : "removeChat",
        "parameters" : [ {
          "name" : "chatId",
          "in" : "path",
          "description" : "ID of chat",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "x-majorVersion" : "1.24.0",
            "x-required" : "true"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/chats/{chatId}/call" : {
      "get" : {
        "tags" : [ "Chat" ],
        "summary" : "Get call",
        "description" : "Returns information about active call in specified chat. <br/><br/>It is required to have `Chat-Read` privilege.",
        "operationId" : "getChatCall",
        "parameters" : [ {
          "name" : "chatId",
          "in" : "path",
          "description" : "ID of chat",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "x-majorVersion" : "1.24.0",
            "x-required" : "true"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Chat call info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatRoomCallExtendedIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "404" : {
            "description" : "Chat or call not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/chats/{chatId}/call/{callId}/documents" : {
      "get" : {
        "tags" : [ "Chat call" ],
        "summary" : "Find chat call documents",
        "description" : "Finds chat call documents by parameters. <br/><br/>It is required to have `Chat-Read` and `File-Read` privileges.",
        "operationId" : "findChatCallDocuments",
        "parameters" : [ {
          "name" : "chatId",
          "in" : "path",
          "description" : "ID of chat",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "callId",
          "in" : "path",
          "description" : " ID of call",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "searchCriteria",
          "in" : "query",
          "description" : "Search criteria (by file name)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "orderAsc",
          "in" : "query",
          "description" : "Result set sort order",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Sort result set by field",
          "schema" : {
            "$ref" : "#/components/schemas/DocumentSortField"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The offset for slice request. Not negative integer value",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result set",
          "schema" : {
            "maximum" : 20,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 20
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Chat call documents",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/chats/{chatId}/call/{callId}/participants" : {
      "get" : {
        "tags" : [ "Chat" ],
        "summary" : "Get call participants",
        "description" : "Returns call participants in DIALING and CONNECTED sates. <br/><br/>It is required to have `Chat-Read` privilege.",
        "operationId" : "getChatCallParticipants",
        "parameters" : [ {
          "name" : "chatId",
          "in" : "path",
          "description" : "ID of chat",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "x-majorVersion" : "1.24.0",
            "x-required" : "true"
          }
        }, {
          "name" : "callId",
          "in" : "path",
          "description" : " ID of call",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "x-majorVersion" : "1.24.0",
            "x-required" : "true"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : " Participant connection state filter",
          "style" : "form",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ChatRoomCallParticipantState"
            },
            "x-majorVersion" : "1.24.0"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The offset for slice request. Not negative integer value",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0,
            "x-majorVersion" : "1.24.0"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result set",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 50,
            "x-majorVersion" : "1.24.0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Call participants",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatRoomCallIParticipantsSliceIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "404" : {
            "description" : "Chat or call not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/chats/calls" : {
      "get" : {
        "tags" : [ "Chat" ],
        "summary" : "Get calls",
        "description" : "Return list of calls in DIALING and ACTIVE state. <br/><br/>It is required to have `Chat-Read` privilege.",
        "operationId" : "getChatCalls",
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "The offset for slice request. Not negative integer value",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0,
            "x-majorVersion" : "1.24.0"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result set",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 50,
            "x-majorVersion" : "1.24.0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Calls slice",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatCallInfoSliceIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/chats/{chatId}/participants" : {
      "get" : {
        "tags" : [ "Chat" ],
        "summary" : "Get chat users",
        "description" : "Returns chat participants info sorted by name. <br/><br/>It is required to have `Chat-Read` privilege.",
        "operationId" : "getChatParticipantsInfo",
        "parameters" : [ {
          "name" : "chatId",
          "in" : "path",
          "description" : "Chat room ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "x-majorVersion" : "1.24.0",
            "x-required" : "true"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The offset for slice request. Not negative integer value",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0,
            "x-majorVersion" : "1.24.0"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result set",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 50,
            "x-majorVersion" : "1.24.0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Chat users slice",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatRoomUserSliceIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "404" : {
            "description" : "Chat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/chats/p2p" : {
      "post" : {
        "tags" : [ "Chat" ],
        "summary" : "Receive P2P chat",
        "description" : "Returns existed p2p chat or creates new one between specified users. <br/><br/>It is required to have `Chat-Read` and `Chat-Write` privileges.",
        "operationId" : "getOrCreateP2pChat",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/P2PChatInterlocutorsDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Chat room",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatRoomIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/chats/{chatId}/participants/remove" : {
      "post" : {
        "tags" : [ "Chat" ],
        "summary" : "Remove participants",
        "description" : "Removes users from chat. <br/><br/>It is required to have `Chat-Write` privilege.",
        "operationId" : "removeUsersFromChat",
        "parameters" : [ {
          "name" : "chatId",
          "in" : "path",
          "description" : "Chat room ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "x-majorVersion" : "1.24.0",
            "x-required" : "true"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "minItems" : 0,
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/profiles/{profileId}" : {
      "get" : {
        "tags" : [ "Profiles" ],
        "summary" : "Get profile",
        "description" : "Returns profile info. <br/><br/>It is required to have `Users-Read` privilege.",
        "operationId" : "getProfileInfo",
        "parameters" : [ {
          "name" : "profileId",
          "in" : "path",
          "description" : "Profile Id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Profile info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/UserProfileIntegrationDTO"
                  }, {
                    "$ref" : "#/components/schemas/GuestProfileIntegrationDTO"
                  }, {
                    "$ref" : "#/components/schemas/BotProfileIntegrationDTO"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Profile is not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/users/{profileId}/block" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Block user",
        "description" : "Blocks user profile. Blocked user cannot use the system, but all its data remains. <br/><br/>It is required to have `Users-Write` privilege.",
        "operationId" : "blockUser",
        "parameters" : [ {
          "name" : "profileId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "description" : "Empty body",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmptyBodyRestDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/users" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Find users",
        "description" : "Finds users by parameters. <br/><br/>It is required to have `Users-Read` privilege.",
        "operationId" : "getUsersByParameters",
        "parameters" : [ {
          "name" : "domainId",
          "in" : "query",
          "description" : "Domain Id. One of the Domain Id or Group Id is required. Only one of the Domain Id or Group Id is allowed.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "description" : "Group Id. One of the Domain Id or Group Id is required. Only one of the Domain Id or Group Id is allowed.",
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "x-majorVersion" : "1.21.0"
          }
        }, {
          "name" : "searchString",
          "in" : "query",
          "description" : "Partial match search criteria by following user fields: name, login, email, phone, vvoipLogin, vvoipExtension",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of records",
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The count of entries for slice request. Positive integer value",
            "format" : "int32",
            "default" : 200
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset of records",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The offset for slice request. Not negative integer value.",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Found users",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserSearchResponseDTO"
                }
              }
            }
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Create user",
        "description" : "Creates user with given parameters. <br/><br/>It is required to have `Users-Write` privilege.",
        "operationId" : "createUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateUserRequestDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "User info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserProfileIntegrationDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "reason = INVALID_NEW_PASSWORD, type = ChangePasswordException - if new password does not meet the security requirements, data describes that requirements.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PasswordChangeExceptionRestDTO"
                }
              }
            }
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      }
    },
    "/users/{profileId}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get user",
        "description" : "Returns user profile info. <br/><br/>It is required to have `Users-Read` privilege.",
        "operationId" : "getUserInfo",
        "parameters" : [ {
          "name" : "profileId",
          "in" : "path",
          "description" : "Profile Id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User profile info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserProfileIntegrationDTO"
                }
              }
            }
          },
          "403" : {
            "description" : "reason = BLOCKED_IP, type = IntegrationApplicationAuthorizationException - if requests not allowed from current IP address."
          },
          "404" : {
            "description" : "User profile is not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ERROR"
                }
              }
            }
          }
        },
        "security" : [ {
          "IntegrationAuthentication" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Users" ],
        "summary" : "Delete user",
[...]
